*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}
.aboutmaindiv{
    min-height: 100vh;
    width: 100vw;
    background-color: #f5ebd99e;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.abouttopdiv{
    height: 20vh;
    width: 60vw;
    border-bottom: .2px solid rgba(128, 128, 128, 0.212);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.abouttopdiv h2{
    letter-spacing: 5px;
    font-weight: 100;
    text-transform: uppercase;
}
.aboutgreets{
    min-height: 70vh;
    width: 100vw;
    border-bottom: .2px solid rgba(128, 128, 128, 0.212);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 6vh 0;
}
.aboutgreets .para{
    min-height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: .99rem;
    text-align: center;
}
.aboutgreets .para p{
    text-align: center;
    color: #919090;
    font-size: .99rem;
    font-family: bookman old style;
}
.aboutownership{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7rem;
    justify-content: flex-end;
    color: #919090;
    height: 10vh;
    min-width: 15vw;
}
.aboutownership h1{
    font-weight: 100;
    font-family: Freestyle Script;
}
.aboutownership h6{
    letter-spacing: 2px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}

@media (max-width:500px){
    .aboutgreets .para{
        width: 80vw;
    }
}

