*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}
.contactmaindiv{
    min-height: 100vh;
    width: 100vw;
    background-color: #f5ebd99e;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 10vh 0;
}
.contacttopdiv{
    height: 20vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.contacttopdiv h2{
    letter-spacing: 2px;
    font-weight: 100;
}
.contactformdiv{
    border-top: .2px solid rgba(128, 128, 128, 0.212);
    width: 60vw;
    padding: 0 3vw 5vh 3vw;
    color: #919090;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: .2px solid rgba(128, 128, 128, 0.212);
}
.mandatory{
    padding: 4vh 0;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    font-weight: 100;
}
.form{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    align-items: center;
}
.input-wrapper{
    min-height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}
.label{
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 5px;
}
.label span{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    text-transform: lowercase;
    letter-spacing: 0;
    font-size: 12px;
}
.input{
    height: 40px;
    width: 100%;
    padding: 0 10px;
    outline: none;
    border: .2px solid #919090;
    border-radius: 5px;
}
.textarea{
    margin-top: 5px;
    border: .2px solid #919090;
    resize: vertical;
    min-height: 10vh;
    max-height: 30vh;
    padding: 10px;
    outline: none;
    border: .2px solid #919090;
    border-radius: 5px;
}
.input::placeholder{
    color: #9190909d;
    text-transform: capitalize;
}
.bgdiv{
    min-height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.boxes{
    height: 100%;
    width: 49%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.submitbtn{
    cursor: pointer;
    border-radius: 50px;
    height: 7vh;
    width: 10vw;
    border: none;
    outline: none;
    background-color: rgb(96, 93, 93);
    transition: all ease .5s;
}
.submitbtn p{
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 4px;
    font-family: 'Times New Roman', Times, serif;
}
.submitbtn:hover{
    background-color: rgb(131, 124, 124);
}

@media (max-width: 1100px) {
    .submitbtn{
        width: 13vw;
    }
}

@media (max-width: 1000px) {
    .submitbtn{
        width: 15vw;
    }
}

@media (max-width: 850px) {
    .contactformdiv{
        width: 70vw;
    }
    .submitbtn{
        width: 15vw;
    }
}
@media (max-width: 750px) {
    .contactformdiv{
        width: 75vw;
    }
    .submitbtn{
        width: 17vw;
    }
}
@media (max-width: 650px) {
    .contactformdiv{
        width: 85vw;
    }
    .contacttopdiv{
        height: 15vh;
    }
    .submitbtn{
        width: 20vw;
    }
}
@media (max-width: 600px) {
    .contactformdiv{
        width: 95vw;
    }
    .submitbtn{
        width: 22vw;
    }
}
@media (max-width: 500px) {

    #biglabels{
        font-size: 14px;
    }
    .submitbtn{
        width: 26vw;
    }
    .contacttopdiv{
        height: 13vh;
    }

}
@media (max-width: 440px) {
    #biglabels{
        font-size: 12px;
    }
    .submitbtn{
        width: 30vw;
    }
}
@media (max-width: 350px) {
    #biglabels{
        font-size: 10px;
    }
    .submitbtn{
        width: 35vw;
    }
}
@media (max-width: 250px) {
    .submitbtn{
        width: 80vw;
    }
}