*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}
.eventwrapper{
    min-height: 100vh;
    width: 100vw;
    background-color: #f5ebd99e;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 10vh 0;
}
.eventtopdiv{
    height: 20vh;
    width: 60vw;
    border-bottom: .2px solid rgba(128, 128, 128, 0.212);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.eventtopdiv h2{
    letter-spacing: 2px;
    font-weight: 100;
}
.eventstorycontent{
    min-height: calc(100vh - 41.6vh);
    width: 100vw;
    gap: 2.5vw;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill , minmax(100px, 1fr));
    padding: 5vh 4vw 0 4vw;
    border-bottom: .2px solid rgba(128, 128, 128, 0.212);
}
.createediv{
    flex-shrink: 0;
    height: 43vh;
    width: 21vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out;        
}
.eventproductdiv{
    flex-shrink: 0;
    height: 55vh;
    width: 21vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 100;
    position: relative;
    transition: opacity 0.3s ease-in-out;
}
.eventproductdiv h3{
    font-weight: 100;
}
.eventcoverimgdiv{
    height: 78%;
    width: 100%;
}
.eventcoverimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.eventdetailsdiv{
    height: calc(100% - 82%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
/* .notfounddiv{
    background-color: rebeccapurple;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notfounddiv h1{
    text-transform: capitalize;
    font-weight: 100;
} */

.deleteicon{
    position: absolute;
    height: 3vh;
    left: 86%;
    top: 5%;
    z-index: 999;
    display: none;
    transition: all ease .5s;
}
.imagediv:hover .deleteicon{
    display: initial;
}
.deletewrapper{
    position: absolute;
    top: 2%;
    right: 2%;
    height: 4vh;
    width: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.deleteimageicon{
    cursor: pointer;
    height: 3.5vh;
}
.deleteimageicon:hover{
    transition: all ease 1s;
}




@media (max-width: 1300px) {
    .eventproductdiv{
        height: 43vh;
        width: 21vw;
    }
    .eventdetailsdiv h3{
        font-size: .9rem;   
    }
    .eventdetailsdiv p{
        font-size: .8rem;   
    }
    .eventdetailsdiv h6{
        font-size: .6rem;   
    }
}

@media (max-width: 1100px) {
    .eventproductdiv{
        height: 40vh;
        width: 21vw;
    }
    .eventdetailsdiv h3{
        font-size: .8rem;   
    }
    .eventdetailsdiv p{
        font-size: .7rem;   
    }
    .eventdetailsdiv h6{
        font-size: .5rem;   
    }
}
@media (max-width: 1000px) {
    .eventproductdiv{
        height: 45vh;
        width: 29vw;
    }
    .eventdetailsdiv h3{
        font-size: .9rem;   
    }
    .eventdetailsdiv p{
        font-size: .9rem;   
    }
    .eventdetailsdiv h6{
        font-size: .6rem;   
    }
}

@media (max-width: 850px) {
    .eventstorycontent{
        padding: 5vh 8vw;
        gap: 5vh;
    }
    .eventproductdiv{
        height: 50vh;
        width: 39.5vw;
    }
}
@media (max-width: 700px) {
    .eventstorycontent{
        padding: 5vh 5vw;
        gap: 4vh;
    }
    .eventproductdiv{
        height: 45vh;
        width: 42.5vw;
    }
}
@media (max-width: 600px) {
    .eventstorycontent{
        padding: 6vh 7vw;
        gap: 4vh;
    }
    .eventproductdiv{
        height: 40vh;
        width: 40vw;
    }
}

@media (max-width: 550px) {
    .eventtopdiv{
        height: 15vh;
    }
    .eventstorycontent{
        padding: 8vh 9.5vw;
        gap: 4vh;
    }
    .eventproductdiv{
        height: 70vh;
        width: 80vw;
    }
    .eventdetailsdiv h3{
        font-size: 1.3rem;   
    }
    .eventdetailsdiv p{
        font-size: 1.2rem;   
    }
    .eventdetailsdiv h6{
        font-size: 1rem;   
    }
}
@media (max-width: 500px) {
    .eventproductdiv{
        height: 60vh;
        width: 80vw;
    }
    .eventdetailsdiv h3{
        font-size: 1.2rem;   
    }
    .eventdetailsdiv p{
        font-size: 1rem;   
    }
    .eventdetailsdiv h6{
        font-size: .9rem;   
    }
}
@media (max-width: 450px) {
    .eventproductdiv{
        height: 55vh;
        width: 80vw;
    }
    .eventdetailsdiv h3{
        font-size: 1.1rem;   
    }
    .eventdetailsdiv p{
        font-size: .9rem;   
    }
    .eventdetailsdiv h6{
        font-size: .8rem;   
    }
}