* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}
.imagesmaindiv{
    min-height: 90vh;
    width: 100vw;
    background-color: #f5ebd99e;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 10vh 0;
}
.imagetopdiv{
    height: 20vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagetopdiv h1{
    letter-spacing: 2px;
    font-weight: 100;
}

.imagecontentwrapper{
    min-height: calc(100vh - 60vh);
    width: 60vw;
    gap: 1.29vw;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill , minmax(100px, 1fr));
    padding: 9vh 0 9vh 0;
    border-top: .2px solid rgba(128, 128, 128, 0.212);
    border-bottom: .2px solid rgba(128, 128, 128, 0.212);
}
.imagediv{
    height: 31vh;
    width: 31vh;
    transition: all ease .5s;
}
.imagediv:hover{
    scale: 1.05;
}
.coverimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#createpost{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3vh 0;
    border: .5px solid gray;
    border-radius: 10px;
    cursor: pointer;  
}

#createpost h2{
    text-transform: uppercase;
    color: rgba(128, 128, 128, 0.708);
}





@media (max-width: 1300px) {
    .imagediv {
        height: 44vh;
        width: 29.35vw;
    }
}
@media (max-width: 1100px) {
    .imagediv {
        height: 38vh;
    }
}
@media (max-width: 950px) {
    .imagediv {
        height: 36vh;
    }
}
@media (max-width: 800px) {
    .imagecontentwrapper {
        width: 80vw;
    }
    .imagediv {
        height: 38vh;
        width: 39.3vw;
    }
}
@media (max-width: 700px) {
    .imagediv {
        height: 35vh;
        width: 39.3vw;
    }
    .imagecontentwrapper{
        padding: 6vh 0;
    }
    .imagetopdiv{
        height: 15vh;
    }
}
@media (max-width: 600px) {
    .imagediv {
        height: 32vh;
        width: 39.3vw;
    }
}

@media (max-width: 500px) {
    .imagediv {
        height: 44vh;
        width: 80vw;
        margin-bottom: 10px;
    }
    .imagecontentwrapper{
        padding: 5vh 0;
    }
    .imagetopdiv{
        height: 15vh;
    }

}

