* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}
.imagesmaindiv{
    min-height: 50vh;
    width: 100vw;
    background-color: #f5ebd99e;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 20vh 0;
    position: relative;
}
.imagetopdiv{
    height: 20vh;
    width: 60vw;
    /* border-bottom: .2px solid rgba(128, 128, 128, 0.212); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagetopdiv h1{
    letter-spacing: 2px;
    font-weight: 100;
}

.imagecontentwrapper{
    /* margin-top: 20px; */
    min-height: calc(100vh - 60vh);
    width: 60vw;
    gap: 1.29vw;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill , minmax(100px, 1fr));
    padding: 9vh 0 9vh 0;
    border-top: .2px solid rgba(128, 128, 128, 0.212);
    border-bottom: .2px solid rgba(128, 128, 128, 0.212);
    /* background-color: rebeccapurple; */
}
.imagediv{
    height: 31vh;
    width: 31vh;
    /* background-color: yellow; */
    transition: all ease .5s;
}
.imagediv:hover{
    scale: 1.05;
}
.coverimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.overlay{
    position: absolute;
    top: -18.7%;
    top: -18.7%;
    height: 100%;
    width: 100%;
    display: none;
    overflow: hidden;
}
.overlaybgimage{
    scale: 1.2;
    filter: blur(20px);
    -webkit-filter: blur(10px);
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.overlaywraper{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.331);
    position: absolute;
    top: 0;
}
.overlaytop{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}
.overlayleft{
    height: 50px;
    width: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3vh;
}
.overlayright{
    height: 50px;
    width: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlaymid{
    /* height: calc(100% - 100px); */
    height: calc(100% - 190px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    color: white;
    /* background-color: blueviolet; */

}
.overlaymidleft{
    overflow: hidden;
    font-size: 3vh;
    background-color: gray;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlaymidcenter{
    /* height: calc(100% - 150px); */
    height: 100%;
    width: calc(100% - 20vw);
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlaymidcenterimage{
    height: 100%;
    /* width: 100%; */
    object-fit: cover;
    object-position: center;
}
.overlaymidright{
    overflow: hidden;
    font-size: 3vh;
    background-color: gray;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 1300px) {
    .imagediv {
        height: 44vh;
        width: 29.35vw;
    }
}
@media (max-width: 1100px) {
    .imagediv {
        height: 38vh;
    }
}
@media (max-width: 950px) {
    .imagediv {
        height: 36vh;
        /* width: 29.35vw; */
    }
}
@media (max-width: 800px) {
    .imagecontentwrapper {
        width: 80vw;
    }
    .imagediv {
        height: 38vh;
        width: 39.3vw;
    }
}
@media (max-width: 700px) {
    .imagediv {
        height: 35vh;
        width: 39.3vw;
    }
    .imagecontentwrapper{
        padding: 6vh 0;
    }
    .imagetopdiv{
        height: 15vh;
    }
}
@media (max-width: 600px) {
    .imagediv {
        height: 32vh;
        width: 39.3vw;
    }
}

@media (max-width: 500px) {
    .imagediv {
        height: 44vh;
        width: 80vw;
        margin-bottom: 10px;
    }
    .imagecontentwrapper{
        padding: 5vh 0;
    }
    .imagetopdiv{
        height: 15vh;

    }

}

