*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}
.kidswrapper{
    min-height: 100vh;
    width: 100vw;
    background-color: #f5ebd99e;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 20vh 0;
}
.kidstopdiv{
    height: 20vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.kidstopdiv h2{
    letter-spacing: 2px;
    font-weight: 100;
    text-align: center;
}
.kidsimagecontentwrapper{
    min-height: calc(100vh - 60vh);
    width: 80vw;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill , minmax(100px, 1fr));
    padding: 9vh 0 9vh 0;
    border-top: .2px solid rgba(128, 128, 128, 0.212);
    border-bottom: .2px solid rgba(128, 128, 128, 0.212);
}

.kidsimagediv{
    height: 35vh;
    width: 26.2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    transition: all ease .5s;
    cursor: pointer;
    position: relative;
}
.kidsimagediv:hover{
    scale: 1.05;
}

.kidscoverimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.kidsimagediv h4{
    letter-spacing: 2px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    padding: 10px 0 7px 0;
}
.kidsimagediv h6{
    font-size: 8px;
    letter-spacing: 2px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}
.createicon{
    height: 10vh;
    transform: rotate(45deg);
}
.uploading{
    display: none;
}
.deleteicon{
    position: absolute;
    height: 3vh;
    left: 86%;
    top: 5%;
    z-index: 999;
    display: none;
    transition: all ease .5s;
}
.imagediv:hover .deleteicon{
    display: initial;
}
.deletewrapper{
    position: absolute;
    top: 3%;
    right: 3%;
    height: 3vh;
    width: 3vh;
}
.deleteimageicon{
    cursor: pointer;
    height: 3vh;
}
.deleteimageicon:hover{
    transition: all ease 1s;
}


@media (max-width: 1300px) {
    .kidsimagediv {
        height: 32vh;
        width: 26.1vw;
    }
}
@media (max-width: 1180px) {
    .kidsimagediv {
        height: 28vh;
        width: 26vw;
    }
}
@media (max-width: 1000px) {
    .kidsimagediv {
        height: 25vh;
        width: 25.9vw;
    }
}
@media (max-width: 860px) {
    .kidsimagediv {
        height: 23vh;
        width: 25.8vw;
    }
}
@media (max-width: 800px) {
    .kidsimagecontentwrapper {
        width: 90vw;
    }
    .kidsimagediv {
        height: 26vh;
        width: 29.1vw;
    }
    .kidstopdiv{
        height: 15vh;
    }
}
@media (max-width: 750px) {
    .kidsimagediv {
        height: 32vh;
        width: 44.3vw;
    }
    .kidsimagecontentwrapper{
        padding: 5vh 0;
    }
}

@media (max-width: 715px) {
    .kidsimagediv {
        height: 40vh;
        width: 90vw;
        margin-bottom: 10px;
    }
}

@media (max-width: 500px) {
    .kidsimagediv {
        height: 35vh;
        width: 90vw;
    }

    .kidstopdiv{
        height: 15vh;
    }

}



