@font-face {
    font-family: glitten;
    src: url("../../public/fonts/GLITTEN\ ALL\ CAPS.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}
.nav{
    border-bottom: .2px solid rgba(128, 128, 128, 0.212);
    height: 110px;
    width: 100vw;
    background-color: #f5ebd99e;
    padding: 0 6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    z-index: 999999;
}
.nav h1{
    text-transform: capitalize;
    font-weight: 400;
    font-family: glitten;
    font-size: 7vh;
    background-color: transparent;
}
.nav h1 span{ 
    font-weight: 600;
    background-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 3px;
    font-size: 20px;
}
.links{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    position: relative;
}

.link{
    font-size: .75rem;
    text-transform: uppercase;
    text-decoration: none;
    color: gray;
    transition: all ease .5s;
    margin-top: 18px;
    margin-right: 15px;
}
.profilediv{
    display: flex;
    align-items: last baseline;
    padding: 20px 0 0 0 ;
}

#ptag{
    display: flex;
    height: 35px;
}
.link:hover{
    color: black;
}
#hiddenlink:hover{
    color: black;
}

.hidden-nav {
    height: 25vh;
    width: 12vw;
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: #F9F3E7;
    opacity: 0;
    visibility: hidden;
    line-height: .7;
    box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.178);
    transition: all ease .5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    z-index: 9;
    
}
#hiddenlink{
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: gray;
    transition: all ease .5s;
}
.profilediv #ptag{
    font-size: .75rem;
    display: flex;
    color: gray;
    margin-top: 17px;
    transition: all ease .5s;
    cursor: pointer;
    /* background-color: rebeccapurple; */
}
.profilediv p:hover{
    color: black;
}
.profilediv:hover .hidden-nav {
    opacity: 1;
    visibility: visible;
}
.hidden-nav:hover {
    opacity: 1;
    visibility: visible;
}
#ptagicon{
    color: black;
    /* height: 15px; */
}
.menuicon{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 2px solid black;
    display: none;
    margin-top: 8px;
    cursor:pointer;
    gap: 1px;
    opacity: .5;
}
.closingicon{
    position: absolute;
    right: 5%;
    top: 5%;
    padding: 4.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #f9f3e7;
    display: none;
    margin-top: 8px;
    cursor:pointer;
    gap: 1px;
}

#closeicon{
    position: absolute;
    right: 5%;
    top: 6%;
    color: #F9F3E7;
    font-size: 1.5rem;
    padding: 10px 12px;
    border-radius: 50%;
    border: 2px solid #F9F3E7;
    cursor: pointer;
}
@media (max-width:1300px){
    .hidden-nav{
        width: 15vw;
    }
}
@media (max-width:1200px){
    .hidden-nav{
        width: 18vw;
    }
}
@media (max-width:1000px){
    .hidden-nav{
        width: 20vw;
    }
}
@media (max-width:900px){
    .hidden-nav{
        width: 23vw;
    }
}
@media ( max-width :780px ){
    .nav{
        height: 80px;
        padding: 0 10px 0 0;
    }
    .nav h1{
        font-size: 5vh;
    }
    .menuicon{
        height: 40px;
        width: 40px;
    }
    .closeicon{
        height: 40px;
        width: 40px;
    }

    .links {
        position: fixed;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        position: absolute;
        top: 0;
        left: 0%; /* Set to -100% to position off-screen initially */
        width: 100%;
        background-color: #2E2E2E;
        z-index: 1;
        padding: 3vw;
        transition: right cubic-bezier(0.19, 1, 0.22, 1) 0.5s; /* Move the transition property here */
    }     
    .logo{
        font-size: 10px;
        scale: .8;
    } 
    .link{
        margin-left: 2vw;
        color: #F9F3E7;
        font-size: 2.5rem;
    }
    .link:hover.links{
        background-color: plum;
    }
    .closingicon{
        display: initial;
    }
    .profilediv p{
        margin-left: 2vw;
        display: flex;
        align-items: center;
    }
    .profilediv #pp{
        color: #F9F3E7;
        font-size: 2.5rem;
    }
    #ptagicon{
        color: #F9F3E7;
        font-size: 2.5rem;
    }
    .hidden-nav{
        background-color: #2E2E2E;
        height: 60vh;
        width: 100%;
        box-shadow: none;
        /* padding: 0 5vw; */
    }
    #hiddenlink{
        padding: 3vh 2.8vw;
        font-size: 2.5rem;
        color: #F9F3E7;
        line-height: 6vh;
    }
    .menuicon{
        display: block;
    }
}