* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.pagecontainer {
    height: 100%;
    width: 100vw;
}
.page1 {
    height: 110vh;
    width: 100vw;
    /* background-image: url("https://images.unsplash.com/photo-1511405889574-b01de1da5441?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
    background-image: url("https://images.unsplash.com/photo-1490723186985-6d7672633c86?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 500px rgba(0,0,0,0.9) inset;
    transition: transform 0.3s linear; 
}
.page2 {
    height: 110vh;
    width: 100vw;
    background-image: url("https://images.unsplash.com/photo-1640953145351-ad659c8927e6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 500px rgba(0,0,0,0.9) inset;
    transition: transform 0.3s linear; 

}
.page3 {
    height: 78vh;
    width: 100vw;
    background-image: url("https://images.unsplash.com/photo-1495462911434-be47104d70fa?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.page4 {
    height: 78vh;
    width: 100vw;
    background-image: url("https://plus.unsplash.com/premium_photo-1661602476848-916dfee177ae?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    /* filter: grayscale(100%); */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 500px rgba(0,0,0,0.9) inset;
}

.textdiv{
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: #F9F3E7;
    padding: 0 0 15vh 0;
} 

.textdiv img{
    height: 8vh;
}
.textdiv h1{
    font-size: 2rem;
    font-weight: 100;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
}
.textdiv p{
    margin-bottom: 12px;
    text-align: center;
    width: 50%;
    font-style: italic;    
}
.textcenter{
    color: white;
    font-weight: 300;
    letter-spacing: 3px;
}
.small{
    /* background-color: rebeccapurple; */
    height: 32vh;
    width: 100vw;
    background-color: #F9F3E7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    padding: 0 5vh;
    transition: transform 0.3s linear; 
}
#small-p{
    /* background-color: rebeccapurple; */
    width: 100%;
    letter-spacing: .5px;
    text-align: center;
    font-size: 1.3rem;
    line-height: 5vh;
    font-family: Pristina;
    color: #8C8C8C;
    /* font-family: STLiti; */
    /* font-family: Vivaldi; */
    /* font-weight: 100; */
}
#small-h{
    color: #8C8C8C;
    letter-spacing: 2px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}
.big{
    height: 45vh;
    width: 100vw;
    background-color: #F9F3E7;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s linear; 
}
.bigdiv{
    height: 45%;
    width: 46vw;
    border-top: .2px solid #8c8c8c4e;
    border-bottom: .2px solid #8c8c8c4e;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0 3vw; */
}
.bigdiv-p{
    font-family: times;
    letter-spacing: .5px;
    text-align: center;
    line-height: 5vh;
    font-size: 1rem;
    color: #8C8C8C;
}
@media (max-width:900px) {
    .bigdiv{
        height: 45%;
        width: 60%;
    }
}
@media (max-width:800px) {
    .bigdiv{
        height: 50%;
        width: 60%;
    }
}
@media (max-width:650px) {
    .bigdiv{
        width: 95%;
        padding: 0;
    }
    .bigdiv-p{
        line-height: 4vh;
    }
    .textdiv {
        gap: 1vh;
    }
    .textdiv p{
        width: 90%;
    } 

}
@media (max-width:550px) {
    #small-p{
        font-size: 1.2rem;
        line-height: 4vh;
    }

}
@media (max-width:350px) {
    .bigdiv-p{
        line-height: 4vh;
    }
}
