* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}
.signinmaindiv{
    min-height: 90vh;
    width: 100vw;
    background-color: #f5ebd99e;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 10vh 0;
}
.signintopdiv{
    height: 20vh;
    width: 60vw;
    border-bottom: .2px solid rgba(128, 128, 128, 0.212);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.signintopdiv h1{
    letter-spacing: 2px;
    font-weight: 100;
}

.signincontentwrapper{
    height: 50vh;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: .2px solid rgba(128, 128, 128, 0.212);

}
.signincontent{
    border: .2px solid rgba(128, 128, 128, 0.212);
    border-radius: 10px;
    height: 80%;
    width: 50%;
}
.signinform{
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    gap: 20px;
    padding: 3vh;   
    align-items: center;
    justify-content: center;
}
.signinput-wrapper{
    min-height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}
.signinlabel{
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #919090;
}
.signinlabel span{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    text-transform: lowercase;
    letter-spacing: 0;
    font-size: 12px;
}
.signinput{
    height: 40px;
    width: 100%;
    padding: 0 10px;
    outline: none;
    border: .2px solid #919090;
    border-radius: 5px;
}
.signinbtn{
    cursor: pointer;
    border-radius: 50px;
    height: 6vh;
    width: 9vw;
    border: none;
    outline: none;
    background-color: rgb(96, 93, 93);
    transition: all ease .5s;
}
.signinbtn p{
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 4px;
    font-family: 'Times New Roman', Times, serif;
}
.signinbtn:hover{
    background-color: rgb(131, 124, 124);
}
@media (max-width:1200px) {
    .signincontentwrapper{
        width: 60vw;
    }
    .signincontent{
        width: 40vw;
    }
    .signinbtn{
        width: 11vw;
    }
}
@media (max-width:1000px) {
    .signincontentwrapper{
        width: 60vw;
    }
    .signincontent{
        width: 50vw;
    }
    .signinbtn{
        width: 13vw;
    }

}
@media (max-width:800px) {
    .signincontentwrapper{
        width: 75vw;
    }
    .signincontent{
        width: 55vw;
    }
    .signinbtn{
        width: 16vw;
    }

}
@media (max-width:700px) {
    .signincontentwrapper{
        width: 75vw;
    }
    .signincontent{
        width: 60vw;
    }
    .signinbtn{
        width: 19vw;
    }
}
@media (max-width:600px) {
    .signincontentwrapper{
        width: 85vw;
    }
    .signincontent{
        width: 75vw;
    }
    .signinbtn{
        width: 20vw;
    }
}


@media (max-width:500px) {
    .signincontentwrapper{
        width: 90vw;
    }
    .signincontent{
        width: 80vw;
        height: 37vh;
    }
    .signinbtn{
        padding: 2vh 0;
        width: 25vw;
    }
}
@media (max-width:400px) {
    .signincontentwrapper{
        width: 100vw;
    }
    .signincontent{ 
        width: 85vw;
    }
    .signinbtn{
        padding: 2vh 0;
        width: 30vw;
    }
}